 .header {
    position: relative;
    width: 100%;
    height: 220px;
}

.header-row {
   display: flex;
}

.photo {
    object-fit: cover;
    border-radius: 10px;
    padding: 10px;
}

.logo {
    width: 100;
    opacity: 0.5;
}

.container {
    width: 100%;
}

img.transparent {
  background: transparent;
  border: none;
  width: 10;
}

.name {
    text-align: center;
    padding: 20px 30px;
    margin-left: 20px;
}

.menu {
    margin-top: 10px;
    width: calc(100%-20px);
    text-align: center;
    justify-content: start;
    display: flex;
    background-color: #FFFAD8;
}

.menu ul {
    flex-direction: column;
    display: flex;
    gap: 10px;
    list-style-type: none;
    text-decoration: none;
}

caption {
    padding: 15px;
    caption-side: top;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
    text-align: center;
}

table {
    width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}

.highlighted {
    background-color: #F4CEF3;
}

.table-line-one {
    background-color: #FCF3FC;
}

.table-line-two {
    background-color: #EDACEA;
}

.content {
    width: 960px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
}

footer {
    width: calc(100%-20px);
    margin: 0 auto;
    margin-top: 10px;
}

.container-main{
    display: flex;
    flex-direction: column;
}

.menu-main{
    display: none;
}

.schedule{
    order: -1;
}
.item1{
    order: 0;
}

@media (width >= 1024px){
    .schedule{
        order: 0;
    }
    .item1{
        order: 0;
    }
    .header-site{
        display: flex;
        width: 100%;
        height: 100px;
    }
    .header-row{
        display: flex;
    }
    .name1{
    text-align: center;
    padding: 20px 10px;
    margin-right: 10px;
    margin-left: 10px;

    }
    .menu{
        display: none;
    }
    .menu-main ul{
        flex-direction: row;
        display: flex;
        gap: 15px;
        list-style-type: none;
        text-decoration: none;
    }
    .menu-main{
        display: flex;
        background-color: #FCF3FC;
        padding: 10px;
        height: 50px;
        width: 1000px;
        margin: 0 auto;
        border-radius: 10px;
    }
}
